<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}][%-5p][%t][%c{36}:%L]|%m%n
			</pattern>
		</encoder>
	</appender>



	<!-- THE ROLLING FILE APPENDER -->
	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/another-logserver.log</File>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}][%-5p][%t][%c{36}:%L]|%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/another-logserver.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<!-- <appender name="TIME-PROFILING-APPENDER" -->
	<!-- class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <File>logs/tt-user-service-PROFILING.log -->
	<!-- </File> -->
	<!-- <encoder> -->
	<!-- <pattern>[%d{HH:mm:ss.SSS}]|%m%n</pattern> -->
	<!-- </encoder> -->
	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- <fileNamePattern>logs/tt-user-service-PROFILING.%d{yyyy-MM-dd}.log -->
	<!-- </fileNamePattern> -->
	<!-- </rollingPolicy> -->
	<!-- </appender> -->

	<!-- <logger -->
	<!-- name="com.treetutor.services.user.advisor.UserServiceMethodProfilingAdvisor" -->
	<!-- level="TRACE" additivity="false"> -->
	<!-- <appender-ref ref="TIME-PROFILING-APPENDER" /> -->
	<!-- </logger> -->


	<!-- Logger configuration. -->
	<logger name="com.another" level="TRACE" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />



	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="R" />
	</root>
</configuration>